/*@import url('https://fonts.googleapis.com/css?family=Baloo+2:wght@400;500;600;');*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Source+Code+Pro&display=swap');



:root {
    --editor-width: 640px;
    --angle: 135deg;
}


.my-hr {
    size: 1px;
    color: white;
    opacity: 1 !important;
}


.buttons {
    width: 150px;
    display: inline-flex !important;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1px 0 !important;
}


i.fa-sharp {
    font-size: 20pt;
}

.editor {
    max-width: var(--editor-width);
}

.bigContainer {
    /*width: 100%;*/
    padding: 0 !important;
    width: 640px;
    margin-right: auto;
    margin-left: auto;
    background: transparent
}

html {
    background-image: radial-gradient(circle farthest-corner at 35% 10%,
        /*repeating-linear-gradient(  135deg,*/ #9b379b 0%,
    #503070 50%,
    #1c113d 100%
    );


    /*background: #BBD2C5;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(var(--angle), #292E49, #536976, #BBD2C5);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(var(--angle), #181c31, #58636c , #bbe9c5 150%);*/

    /*background: #F0F2F0;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #000C40, #F0F2F0);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #000C40, #F0F2F0); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

    /*background-image: linear-gradient( var(--angle), #3B2667 15%, #BC78EC 100%);*/

    height: 100%;
}

.body {
    background: transparent;
}

textarea#autoComplete {
    height: 5vw;
}


.editor {
    height: auto;
}


.navbar {
    color: white;
    width: fit-content;
    justify-content: center;
    /*width: var(--editor-width);*/
    max-height: 100px;
    margin: auto;
    vertical-align: middle;
    font-size: 2.3em;
    font-family: "Lobster", serif;
    display: flex;
    align-items: center;
    letter-spacing: 5px;
    text-decoration: none;
}

